# Dataset 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx","Data")
df.drop(columns=["ID"],inplace=True)
cols=['Age',
 'Experience',
 'Income',
 'ZIP Code',
 'Family',
 'CCAvg',
 'Education',
 'Mortgage',
 'CreditCard',
 'Securities Account',
 'CD Account',
 'Online',
 'Personal Loan']
df=df[cols]
df1=pd.DataFrame(df,copy=True)
df.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,CreditCard,Securities Account,CD Account,Online,Personal Loan
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,1,0,0,0,0

In [3]:
c=0
for i in df.columns:
    c+=len(list(df[i].unique()))
    print(c)
print(c/(len(df.columns)))

45
92
254
721
725
833
836
1183
1185
1187
1189
1191
1193
91.76923076923077

In [4]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [5]:
scaler=StandardScaler()
df.iloc[:,0:12]=scaler.fit_transform(df.iloc[:,0:12])

In [6]:
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,CreditCard,Securities Account,CD Account,Online,Personal Loan
0,-1.774417,-1.666078,-0.538229,-0.964114,1.397414,-0.193371,-1.049078,-0.555524,-0.645314,2.928915,-0.25354,-1.216618,0
1,-0.029524,-0.096330,-0.864109,-1.443932,0.525991,-0.250595,-1.049078,-0.555524,-0.645314,2.928915,-0.25354,-1.216618,0
2,-0.552992,-0.445163,-1.363793,0.738814,-1.216855,-0.536720,-1.049078,-0.555524,-0.645314,-0.341423,-0.25354,-1.216618,0
3,-0.901970,-0.968413,0.569765,0.452243,-1.216855,0.436103,0.141703,-0.555524,-0.645314,-0.341423,-0.25354,-1.216618,0
4,-0.901970,-1.055621,-0.625130,-0.859007,1.397414,-0.536720,0.141703,-0.555524,1.549632,-0.341423,-0.25354,-1.216618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,-1.425438,-1.491662,-0.733757,-0.214694,-1.216855,-0.021696,1.332484,-0.555524,-0.645314,-0.341423,-0.25354,0.821951,0
4996,-1.338194,-1.404454,-1.276892,-0.525774,1.397414,-0.880069,-1.049078,0.280238,-0.645314,-0.341423,-0.25354,0.821951,0
4997,1.540880,1.647835,-1.081363,-0.061039,-0.345432,-0.937294,1.332484,-0.555524,-0.645314,-0.341423,-0.25354,-1.216618,0
4998,1.715370,1.735043,-0.538229,-1.469855,0.525991,-0.822844,0.141703,-0.555524,-0.645314,-0.341423,-0.25354,0.821951,0
4999,-1.512683,-1.404454,0.200434,-0.254757,0.525991,-0.651170,-1.049078,-0.555524,1.549632,-0.341423,-0.25354,0.821951,0

In [7]:
scaler1=MinMaxScaler()
df1.iloc[:,0:12]=scaler1.fit_transform(df1.iloc[:,0:12])

In [8]:
df1.head()
X_norm=df1.iloc[:,0:12]
y_norm=df1["Personal Loan"]

In [9]:
X_std=df.iloc[:,0:12]
y_std=df["Personal Loan"]

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [11]:
X_n_train, X_n_test, y_n_train, y_n_test = train_test_split(X_norm, y_norm, test_size=0.20, random_state=42)
X_s_train, X_s_test, y_s_train, y_s_test = train_test_split(X_std, y_std, test_size=0.20, random_state=42)

In [17]:
model1=LogisticRegression().fit(X_n_train,y_n_train)
model2=LogisticRegression().fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  0.95175
Normalized Score (train) -  0.95125
Standardized Score (test)-  0.955
Normalized Score (test) -  0.955

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
model1=DecisionTreeClassifier().fit(X_n_train,y_n_train)
model2=DecisionTreeClassifier().fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  1.0
Normalized Score (train) -  1.0
Standardized Score (test)-  0.986
Normalized Score (test) -  0.986

In [84]:
!git init
!git add testingdataset.ipynb
!git commit -m "Dataset 3 tested"

Reinitialized existing Git repository in C:/Users/RAGHAV VERMA/Documents/JupyterStuff/AI-ML-Labs/week-5-testing/.git/

warning: LF will be replaced by CRLF in testingdataset.ipynb.
The file will have its original line endings in your working directory

[master ab51683] Dataset 3 tested
 1 file changed, 951 insertions(+), 14 deletions(-)

# Dataset 2

In [20]:
df=pd.read_csv("census_income_dataset_preprocessed.csv")
#df.drop(columns=['Address'],inplace=True)
df1=pd.DataFrame(df,copy=True)
df.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country,target
0,39,6,13,4,0,2174,0,40,38,0
1,50,5,13,2,3,0,0,13,38,0
2,38,3,9,0,5,0,0,40,38,0
3,53,3,7,2,5,0,0,40,38,0
4,28,3,13,2,9,0,0,40,4,0

In [21]:
scaler=StandardScaler()
df.iloc[:,0:9]=scaler.fit_transform(df.iloc[:,0:9])
df.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country,target
0,0.030671,1.658412,1.134739,0.921634,-1.483582,0.148453,-0.21666,-0.035429,0.251378,0
1,0.837109,1.026306,1.134739,-0.406212,-0.790510,-0.145920,-0.21666,-2.222153,0.251378,0
2,-0.042642,-0.237906,-0.420060,-1.734058,-0.328461,-0.145920,-0.21666,-0.035429,0.251378,0
3,1.057047,-0.237906,-1.197459,-0.406212,-0.328461,-0.145920,-0.21666,-0.035429,0.251378,0
4,-0.775768,-0.237906,1.134739,-0.406212,0.595635,-0.145920,-0.21666,-0.035429,-5.337971,0

In [22]:
scaler1=MinMaxScaler()
df1.iloc[:,0:9]=scaler1.fit_transform(df1.iloc[:,0:9])
df1.head()

,age,workclass,education-num,marital-status,occupation,capital-gains,capital-loss,hours-per-week,native-country,target
0,0.301370,0.750,0.800000,0.666667,0.000000,0.02174,0.0,0.397959,0.926829,0
1,0.452055,0.625,0.800000,0.333333,0.214286,0.00000,0.0,0.122449,0.926829,0
2,0.287671,0.375,0.533333,0.000000,0.357143,0.00000,0.0,0.397959,0.926829,0
3,0.493151,0.375,0.400000,0.333333,0.357143,0.00000,0.0,0.397959,0.926829,0
4,0.150685,0.375,0.800000,0.333333,0.642857,0.00000,0.0,0.397959,0.097561,0

In [23]:
X_norm=df1.iloc[:,0:9]
y_norm=df1["target"]
X_std=df.iloc[:,0:9]
y_std=df["target"]

In [24]:
X_n_train, X_n_test, y_n_train, y_n_test = train_test_split(X_norm, y_norm, test_size=0.20, random_state=42)
X_s_train, X_s_test, y_s_train, y_s_test = train_test_split(X_std, y_std, test_size=0.20, random_state=42)

In [25]:
model1=LogisticRegression().fit(X_n_train,y_n_train)
model2=LogisticRegression().fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  0.8137285012285013
Normalized Score (train) -  0.8107724201474201
Standardized Score (test)-  0.814985413787809
Normalized Score (test) -  0.8114540150468295

In [28]:
model1=DecisionTreeClassifier().fit(X_n_train,y_n_train)
model2=DecisionTreeClassifier().fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  0.9731265356265356
Normalized Score (train) -  0.9731265356265356
Standardized Score (test)-  0.816981421771841
Normalized Score (test) -  0.8162137263933671

# Dataset 3

In [29]:
df=pd.read_csv("data.csv")
df.drop(columns=["Unnamed: 32",'id'],inplace=True)
df1=pd.DataFrame(df,copy=True)
df.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [30]:
scaler=StandardScaler()
df.iloc[:,1:]=scaler.fit_transform(df.iloc[:,1:])
df.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,M,1.097064,-2.073335,1.269934,0.984375,1.568466,3.283515,2.652874,2.532475,2.217515,...,1.886690,-1.359293,2.303601,2.001237,1.307686,2.616665,2.109526,2.296076,2.750622,1.937015
1,M,1.829821,-0.353632,1.685955,1.908708,-0.826962,-0.487072,-0.023846,0.548144,0.001392,...,1.805927,-0.369203,1.535126,1.890489,-0.375612,-0.430444,-0.146749,1.087084,-0.243890,0.281190
2,M,1.579888,0.456187,1.566503,1.558884,0.942210,1.052926,1.363478,2.037231,0.939685,...,1.511870,-0.023974,1.347475,1.456285,0.527407,1.082932,0.854974,1.955000,1.152255,0.201391
3,M,-0.768909,0.253732,-0.592687,-0.764464,3.283553,3.402909,1.915897,1.451707,2.867383,...,-0.281464,0.133984,-0.249939,-0.550021,3.394275,3.893397,1.989588,2.175786,6.046041,4.935010
4,M,1.750297,-1.151816,1.776573,1.826229,0.280372,0.539340,1.371011,1.428493,-0.009560,...,1.298575,-1.466770,1.338539,1.220724,0.220556,-0.313395,0.613179,0.729259,-0.868353,-0.397100

In [31]:
scaler1=MinMaxScaler()
df1.iloc[:,1:]=scaler1.fit_transform(df1.iloc[:,1:])
df1.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,M,0.521037,0.022658,0.545989,0.363733,0.593753,0.792037,0.703140,0.731113,0.686364,...,0.620776,0.141525,0.668310,0.450698,0.601136,0.619292,0.568610,0.912027,0.598462,0.418864
1,M,0.643144,0.272574,0.615783,0.501591,0.289880,0.181768,0.203608,0.348757,0.379798,...,0.606901,0.303571,0.539818,0.435214,0.347553,0.154563,0.192971,0.639175,0.233590,0.222878
2,M,0.601496,0.390260,0.595743,0.449417,0.514309,0.431017,0.462512,0.635686,0.509596,...,0.556386,0.360075,0.508442,0.374508,0.483590,0.385375,0.359744,0.835052,0.403706,0.213433
3,M,0.210090,0.360839,0.233501,0.102906,0.811321,0.811361,0.565604,0.522863,0.776263,...,0.248310,0.385928,0.241347,0.094008,0.915472,0.814012,0.548642,0.884880,1.000000,0.773711
4,M,0.629893,0.156578,0.630986,0.489290,0.430351,0.347893,0.463918,0.518390,0.378283,...,0.519744,0.123934,0.506948,0.341575,0.437364,0.172415,0.319489,0.558419,0.157500,0.142595

In [32]:
X_norm=df1.iloc[:,1:]
y_norm=df1["diagnosis"]
X_std=df.iloc[:,1:]
y_std=df["diagnosis"]

In [33]:
X_n_train, X_n_test, y_n_train, y_n_test = train_test_split(X_norm, y_norm, test_size=0.15, random_state=42)
X_s_train, X_s_test, y_s_train, y_s_test = train_test_split(X_std, y_std, test_size=0.15, random_state=42)

In [34]:
model1=LogisticRegression().fit(X_n_train,y_n_train)
model2=LogisticRegression().fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  0.9875776397515528
Normalized Score (train) -  0.968944099378882
Standardized Score (test)-  0.9767441860465116
Normalized Score (test) -  0.9767441860465116

In [39]:
model1=DecisionTreeClassifier(max_depth=8).fit(X_n_train,y_n_train)
model2=DecisionTreeClassifier(max_depth=8).fit(X_s_train,y_s_train)
print("Standardized Score (train)- ",model2.score(X_s_train,y_s_train))
print("Normalized Score (train) - ",model1.score(X_n_train,y_n_train))
print("Standardized Score (test)- ",model2.score(X_s_test,y_s_test))
print("Normalized Score (test) - ",model1.score(X_n_test,y_n_test))

Standardized Score (train)-  1.0
Normalized Score (train) -  1.0
Standardized Score (test)-  0.9069767441860465
Normalized Score (test) -  0.9186046511627907

# Dataset 4